<div class="row mt-4">
    {{#each Notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between aling-items-center"> 
                    {{title}} <a href="/notas/edit/{{id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p> 
                    {{descripcion}}
                </p>
                <form action="/notas/delete/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-danger btn-block btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto aling-items-center">
    <div class="card-body">
        <p class="lead"> No hay Notas para mostrar</p>
        <a href="/notas/add" class="btn btn-success btn-block"> Crea una!</a>
    </div>
    </div>
    {{/each}}
</div>